


$backgraund-color: white;
$color_menu:#EEF7FF;
$font: "Montserrat";

%slyle_point_font
{
    font-weight: bold;
    cursor: pointer;
}

%wrap_cont_same
{
    display: grid;

    background-color: $backgraund-color;
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 20px;
    height: 550px;
}